body * {
	margin: 0;
}
/*add class later*/
.page-header {
	background-color: rgb(59,204,107);
	border-bottom: thick solid rgb(50,173,91) ;
	padding: 12em 1em 1em 1em;
}

.page-title{
	color:white;
}
/*border shortcut, pixel*/
.topnav{
	background-color: rgb(55,72,95);
	border-bottom: thick solid rgb(25,40,62);
	text-align: right;
	padding: 1em;
}

.topnav-link{
	color: white;
	text-decoration: none;
	padding: 1em;
}

article {
	padding: 1em;
	position: relative;
}

.rightnav {
	
}

.article-title {
	padding: 1.5em .5em 1em .5em;
}

.article-text {
	margin: 1em;
	padding-left: 1em;
/*	padding-bottom: 0em;*/
}

.section-title {
	padding: .5em;
	/*padding-left: 1em;*/
	border-bottom: solid;
	border-width: thin;
	border-color: gray;
}

/*class table, reference children*/
th, td {
	border-width:thin;
	border-style: solid;
	border-color: silver;
	padding: 1em;
}
thead {
	background-color: lightgray;
	text-align: center;
}

/*name more generic for portability*/
.blue-button {
	background-color: skyblue;
	color: white;
}
.code-sample {
	background-color: lightgray;
	padding: 2em;
	padding-left: 4em;
}
li {
	margin-top: 1em;
	margin-bottom: 1em;
}

/*class*/
footer {
	padding:1em;
	color: gray;
}
form {
	width: 100%;
}
label{
	width: 20%;
	padding: 1em;
}
.small-field {
	width: 80%;
/*	float:right;*/
/*	overflow: hidden;*/
}
.article-image {
	width: 100%;
	display: block;
}
.user-thumb{
	float:left;
}
.comment-info {
	display: inline-block;
	overflow: hidden;
}